table {
  width: 100%;
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid black;
  padding: 10px;
  text-align: left;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
img {
  width: 400px; /* or any size you want */
  height: auto; /* maintain aspect ratio */
}
